.elementor-417 .elementor-element.elementor-element-81179aa {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  top: 4em;
}
.elementor-417
  .elementor-element.elementor-element-64691be.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
  margin-top: 90px;
}
.elementor-417 .elementor-element.elementor-element-2c2ba99 {
  text-align: center;
  z-index: 1000;
}
.elementor-417
  .elementor-element.elementor-element-2c2ba99
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 21px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.elementor-417 .elementor-element.elementor-element-ea83d74 {
  text-align: center;
  z-index: 1000;
}
.elementor-417
  .elementor-element.elementor-element-ea83d74
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Luxia Display", Sans-serif;
  font-size: 33px;
  font-weight: 300;
  line-height: 0.5em;
  letter-spacing: 1px;
}
.elementor-417 .elementor-element.elementor-element-eb0b525 {
  text-align: center;
  z-index: 1000;
}
.elementor-417
  .elementor-element.elementor-element-eb0b525
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 1em;
  letter-spacing: 1px;
}
.elementor-417
  .elementor-element.elementor-element-eb0b525
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-417 .elementor-element.elementor-element-a49e994 {
  text-align: center;
  z-index: 1000;
}
.elementor-417
  .elementor-element.elementor-element-a49e994
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Great Vibes", Sans-serif;
  font-size: 5.2em;
  font-weight: 400;
  line-height: 0.8em;
  letter-spacing: 2px;
}
.elementor-417
  .elementor-element.elementor-element-e69377d
  > .elementor-container {
  min-height: 100vh;
}
.elementor-417
  .elementor-element.elementor-element-e69377d
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-417
  .elementor-element.elementor-element-e69377d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-417
  .elementor-element.elementor-element-e69377d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/93920.jpg");
  background-position: center center;
  background-size: cover;
}
.elementor-417
  .elementor-element.elementor-element-e69377d
  > .elementor-background-overlay {
  background-color: #0000009e;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-417 .elementor-element.elementor-element-e69377d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-417
  .elementor-element.elementor-element-f1d6088
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-417 .elementor-element.elementor-element-7b5c99f .elementor-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  fill: #525252;
  color: #525252;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
}
.elementor-417
  .elementor-element.elementor-element-7b5c99f
  .elementor-button:hover,
.elementor-417
  .elementor-element.elementor-element-7b5c99f
  .elementor-button:focus {
  background-color: #aeaeae;
}
body:not(.rtl) .elementor-417 .elementor-element.elementor-element-7b5c99f {
  left: 0px;
}
body.rtl .elementor-417 .elementor-element.elementor-element-7b5c99f {
  right: 0px;
}
.elementor-417 .elementor-element.elementor-element-7b5c99f {
  bottom: -29vh;
  z-index: 1000;
}
#elementor-popup-modal-417 .dialog-message {
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
}
#elementor-popup-modal-417 {
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.8);
}
#elementor-popup-modal-417 .dialog-widget-content {
  animation-duration: 1.2s;
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}
.elementor-widget .tippy-tooltip .tippy-content {
  text-align: center;
}
@media (max-width: 1024px) {
  .elementor-417
    .elementor-element.elementor-element-e69377d:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-417
    .elementor-element.elementor-element-e69377d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: top center;
  }
  .elementor-417 .elementor-element.elementor-element-7b5c99f {
    bottom: -32vh;
  }
}
@media (max-width: 767px) {
  .elementor-417 .elementor-element.elementor-element-2c2ba99 {
    text-align: center;
    z-index: 1000;
  }
  .elementor-417
    .elementor-element.elementor-element-2c2ba99
    .elementor-heading-title {
    font-size: 17px;
  }
  .elementor-417 .elementor-element.elementor-element-ea83d74 {
    text-align: center;
    z-index: 1000;
  }
  .elementor-417
    .elementor-element.elementor-element-ea83d74
    .elementor-heading-title {
    font-size: 27px;
  }
  .elementor-417 .elementor-element.elementor-element-eb0b525 {
    text-align: center;
    z-index: 1000;
  }
  .elementor-417
    .elementor-element.elementor-element-eb0b525
    .elementor-heading-title {
    font-size: 17px;
  }
  .elementor-417
    .elementor-element.elementor-element-a49e994
    .elementor-heading-title {
    font-size: 41px;
    line-height: 0.6em;
  }
  .elementor-417
    .elementor-element.elementor-element-e69377d:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-417
    .elementor-element.elementor-element-e69377d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: top center;
  }
  .elementor-417 .elementor-element.elementor-element-7b5c99f {
    bottom: -32vh;
    z-index: 1000;
  }
  #elementor-popup-modal-417 .dialog-message {
    width: 100vw;
    height: 100vh;
  }
  #elementor-popup-modal-417 {
    align-items: flex-start;
  }
} /* Start Custom Fonts CSS */
@font-face {
  font-family: "Luxia Display";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../css/fonts/luxia_display_500-webfont.eot");
  src: url("../css/fonts/luxia_display_500-webfont.eot")
      format("embedded-opentype"),
    url("../css/fonts/luxia_display_500-webfont.woff2") format("woff2"),
    url("../css/fonts/luxia_display_500-webfont.woff") format("woff"),
    url("../css/fonts/Luxia-Display-500.ttf") format("truetype"),
    url("../css/fonts/luxia_display_500-webfont.svg") format("svg");
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */
@font-face {
  font-family: "Great Vibes";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../css/fonts/GreatVibes-Regular.eot");
  src: url("../css/fonts/GreatVibes-Regular.eot") format("embedded-opentype"),
    url("../css/fonts/GreatVibes-Regular.woff2") format("woff2"),
    url("../css/fonts/GreatVibes-Regular.woff") format("woff"),
    url("../css/fonts/GreatVibes-Regular.ttf") format("truetype"),
    url("../css/fonts/GreatVibes-Regular.svg") format("svg");
}
/* End Custom Fonts CSS */
